@import "./scss_mixin/tools/mixin";
@import "./scss_mixin/tools/variables";
.list {
    padding: 1em;
    // @include flexi();
    align-items: unset;
    .todos {
        width: 100%;
        padding-bottom: 5em;
    }
    .fab {
        // width: 100;
        @include position(fixed, null, 1em, 1em, null)
    }
    .todo {
        @include flexi(row, space-between)
    }
    .v-icon {
        cursor: pointer;
    }
}